body {
  font-size: 24px;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 10px 30px;
}

button {
  width: 40vw;
  height: 50px;

  border: none;
  font: inherit;

  margin: 30px;
  padding: 3px 0;
}

.filter-disable {
  background-color: rgb(155, 146, 143);
}

.filter-active {
  background-color: rgb(114, 216, 114);
}

.item-root {
  margin: 10px 30px;

  width: 40vw;
}

.item-root .item-root {
  width: inherit;
}

.item-root .item-accordeon {
  width: inherit;
}

.item-accordeon-show {
  display: none;
}

.item-accordeon-disable {
  display: none; 
}

.item-accordeon:active {
  transition: all 2s
}

.item {
  outline: 4px white solid;
  background-color: rgb(114, 216, 114);
  font-weight: 800;

  margin: 10px 0;
  padding: 3px 0;

  width: 40vw;
}

.app > .item {
  margin: 10px 30px;
  display: block;
}

.item-root .item {
  width: inherit;
}

.item-hide {
  display: none;
}

.item-accordeon {
  outline: 4px white solid;
  background-color: rgb(121, 121, 227);
  font-weight: 800;

  height: inherit;
  margin: 10px 0;
  padding: 3px 0;

  width: 40vw;

}

.item-accordeon-wrapper {
  padding: 5px 0;
}